.charting_ui_area{
	width: 100%;
	display: block;
	position: relative;

	.charting_ui_date_range_pick{
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	&.charting_ui_bordered_area{
		border: 1px lightgray solid;
	}

	.charting_ui_main_title{
		text-align: center;
	}

	.charting_ui_canvas_area{
		position: relative;
		display: block;
		width: 100%;

		.charting_ui_data{
			display: none;
		}

		.charting_ui_info_block{
			position: absolute;
			display: none;
			background: white;
			border: 1px solid black;
			border-radius: 5px;
			z-index: 2;
			pointer-events:none;
			padding: 5px;
			opacity: 0.7;


			h3{
				font-size: 1.0em;
				text-align: center;
				font-weight: bold;
				margin: 0px;
				border-bottom: 1px solid darkgray
			}

			ul{
				font-size: 0.9em;
				-webkit-padding-start: 0px;
				list-style-type: none;
				-webkit-margin-before: 0px;
				-webkit-margin-after: 0px;
				text-align: center;

				.charting_ui_info_title, .charting_ui_info_sub_title{
					font-weight: bold;
					text-transform: capitalize;
				}
			}
		}

		.charting_ui_chart_interactive{
			position: absolute;
			z-index: 1;
			display: block;
		}

		.charting_ui_chart_fix{
			position: absolute;
			z-index: 0;
			display: block;
		}
	}
}
