<div class="charting_ui_area<%= _charting[:bordered] ? ' charting_ui_bordered_area' : '' %>">
	<<%= _charting[:title][:tag] %> class="charting_ui_main_title <%= _charting[:title][:class] %>"><%= _charting[:title][:content] %></<%= _charting[:title][:tag] %>>

	<div class="charting_ui_canvas_area">
		<div class="charting_ui_info_block">

		</div>

		<canvas width="0" height="0" class="charting_ui_chart_interactive"></canvas>
		<canvas width="0" height="0" class="charting_ui_chart_fix"></canvas>
		<div class="charting_ui_data" data-data="<%= _charting[:data].to_json %>" ></div>

		<script type="text/javascript">
			create_new_canvas($(document.currentScript).parent()[0], <%= browser.device.mobile? ? true : false %>, '<%= _charting[:data][:type] %>')
		</script>
	</div>
</div>
